{% block ChangeModal %}
<div class="modal fade" id="edit_user" tabindex="-1" role="dialog" aria-labelledby="edit_user" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="thread_title" class="col-form-label">Usegroups:</label><br>
                    <input type="checkbox" name="groups" value="Member" checked disabled> Member<br>
                    <input type="checkbox" id="ModeratorCheckbox" name="groups" value="Member"> Moderator<br>
                    <input type="checkbox" id="AdministratorCheckbox" name="groups" value="Member"> Administrator<br>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary" id="save_changes" tabindex="0">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}