{% block NewThreadModal %}
<div class="modal fade" id="new_thread" tabindex="-1" role="dialog" aria-labelledby="new_thread" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Thread</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="thread_title" class="col-form-label">Thread title:</label>
                    <input type="text" class="form-control" id="thread_title">
                </div>
                <div class="form-group">
                    <label for="post" class="col-form-label">Content:</label>
                    <textarea class="form-control" id="post"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                <button type="button" class="btn btn-primary" id="post_thread" tabindex="0" data-toggle="popover" data-trigger="focus" title="Error" data-placement="top" data-content="Please fill all the fields!">Post thread</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}