{% block PostList %}
{% for post in post_list %}

    <div class="p-2 m-2 border bg-white border-secondary">
        <div class="row">
            <div class="col-2 border-right border-secondary">
                <div class="col">
                    Placeholder for profile image
                </div>
                <div class="col">
                    <a href="/u/{{ post.author_id }}">{{ post.author.username }}</a>
                </div>
                <div class="col">
                    <p>Joined on: {{ post.author.date_joined|date:"d/m/Y" }}</p>
                </div>

            </div>
            <div class="col">
                <div class="col text-right border-bottom border-secondary">
                    <p>Created on: {{ post.created_on|date:"d/m/Y" }}</p>
                    {% if post.created_on != post.last_edited_on %}
                        <p>Edited on: {{ post.last_edited_on|date:"d/m/Y" }}</p>
                    {% endif %}
                    {% for i in postDictionary %}
                        {% if i.id == post.id %}
                            <p>Upvotes: {{ i.upvotes }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col">
                    {{ post.text }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col m-1">
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-success float-right" onclick="upvotePost({{ post.id }});" id="upvoteButton">Upvote</button>
                {% endif %}
                {% if user.is_staff or user == post.author %}
                    <button type="button" class="btn btn-warning float-right" onclick="window.location='/edit/{{ post.id }}'">Edit</button>
                    <button type="button" onclick="setDeleteId({{ post.id }})" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal">Delete</button>
                {% endif %}
            </div>
        </div>
    </div>

{% endfor %}
{% endblock %}
